/* Design by http://www.dreamtemplate.com */
@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #6e6e6e;
	font: normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
}

html,.main {
	padding: 0;
	margin: 0;
}
#societyimagesDiv{
	width:1500px;
}
#images_comments{
	font-size:12pt;
	
}

#picsSocietyPage{
	margin-top:-290px;
	

}
#society_images{
	height:150px;
	width:180px;
	float:left;
	padding:40px;
	padding-bottom:40px;
}
#displaypolls{
	font-size:12pt;
}
#pollresults{
	
	
	 font-size:12pt;
}
#pollhead{
	background-color:#fc6400;
	border-radius:5px;
	height:40px;
	color:#fff;
	font-size:14pt;
	text-align:center;
	padding-top:20px;
	font-weight:bold;
}
#loginbody{
	width:500px;
	height:auto;
	border-radius:5px;
	border:1px solid #ededed;
	margin-left:400px;
	box-shadow: 10px 10px 5px #888;
}
#forumTable{
	backgroung-color:#E6E6E6;
	border-radius:5px;
	width:800px;
	margin-left:400px;
	
	margin-top:-280px;
	float:left;
	
}
#forumDivTable{
	backgroung-color:#E6E6E6;
	border-radius:5px;
	width:800px;
	margin-left:400px;
	
	margin-top:-280px;
	float:left;
}
#forumAnsTable{
	margin-top:150px;
}
.forumTd{
	text-align:center; 
	background-color:#E6E6E6;
}
.forumdesc{
	background-color:#FFFFFF;
}
#addpoll{
	margin-top:-30px;
	
}
#addpoll label{
	font-weight:bold;
	font-size:12pt;
	margin-left:20px;
	margin-right:40px;
}
#addpoll #Submit{
	margin-left:210px;
}
#backpoll{
	text-align:center;
}
#postAddMsg{
	margin-left:400px;
	width:600px;
	background-color:yellow;
	font-size:14pt; 
	font-family:"courier";
	color:blue;
}
#loginbody_head{
	background-color:#fc6400;
	border-radius:5px;
	height:40px;
	color:#fff;
	font-size:14pt;
	text-align:center;
	padding-top:20px;
	font-weight:bold;
}
#loginbody_mid{
	background-color:#ededed;
	height:300px;
	padding-top:40px;
}
#loginusername,#loginpassword{
	font-size:14pt;
	padding-left:50px;
	padding-right:80px;
	
}
#email,#password{
	height:30px;
}
#loginbody_mid table td{
	padding-bottom:30px;
}
#loginsubmit{
	margin-left:150px;
	width:200px;
	height:40px;
	background-color:#fc6400;
	border-radius:8px;
	color:#fff;
	font-weight:bold;
}
#divEmail,#divPass{
	text-decoration:blink;
	color:red;		
}
#advertiseTable{
	width:500px;
	float:left;
}
#viewUsersTable{
	border:1px solid #fc6400;
	border-radius:5px;
	width:800px;
	margin-left:400px;
	
	margin-top:-330px;
	float:left;
	
}
.addfieldset{
	width:500px;
	float:left;
	margin-left:-400px;
}
#addFlat{
	
	}
#viewUsersTable .viewUsersColumn{
	padding-top:5px;
	padding-right:10px;
	text-align:center;
	
}
#userLeft{
	width:20%;
	float:left;
	font-size:10pt;
	margin-left:-500px;
	color:#888;
	padding-top:50px;
}
#userTable{
	width:200px;
}
#userRight{
	width:20%;
	float:left;
	font-size:10pt;
	margin-left:-300px;
	color:#888;
	margin-top:10px;
}
.adds{
	padding-top:80px;
}
.main {
	background: #fff;
}

.clr {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0;
	line-height: 0;
}

h2 {
	margin: 8px 0;
	padding: 8px 0;
	font-size: 25px;
	font-weight: bold;
	color: #232323;
}

p {
	margin: 8px 0;
	padding: 0 0 8px 0;
}

a {
	color: #fc6400;
	text-decoration: underline;
}

.header,.content,.menu_nav,.fbg,.footer,form,ol,ol li,ul,.content .mainbar,.content .sidebar
	{
	margin: 0;
	padding: 0;
}

.header {
	
}

.header_resize {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

.logo {
	padding-bottom: 10px;
	padding-left: -10px;
	float: left;
	width: auto;
	height: 140px;
}

#logo {
	padding-bottom:10px;
	float: left;
	width: auto;
	height: 50px;
	padding-right: 10px;
}
#barClick{
	font-size:20px;
	padding-left:100px;
}

#barSmall{
	color:#fc6400;
	font-size:14px;
}
#barName{
	
}

#panel_bar{
	background-color:#ededed;
	height:30px;
	padding-top:10px;
}
#menulogout{
	font-size:13px;
	float:right;
	margin-right:200px;
	

}
#menulogout li a{
	color: #888;
	text-decoration: none;
	
}
#menulogout li a:hover{
	color: #fc6400;
	text-decoration: none;
	font-weight:bold;
}
#subMenuLogout{
	position:absolute; z-index:99;
	
	 
}
#logout{
	background-color:white;
}
#logout li{
	background-image:url(1365160035_home.png);
	
}
#subMenuLogout li{
	padding-bottom:3px;
	
}

#name {
	float: left;
	margin-top: 18px;
}
#userDivMain{
	width:100%;
}
#userDivDetails{
	width:70%;
	
}
#addsDiv{
	
	float:left;
	width:30%;
	height:500px;
	
}
#welcome {
	float: left;
	font-size: 14pt;
	padding-top: 10px;
	margin-left:-480px;
	
}
#edit_details-img{
	margin-left:-20px;
}
#edit_details {
	float: left;
	margin-left: -50px;
	padding-right: 20px;
	padding-top: 10px;
}

#username {
	margin-top:30px;
	float: left;
	font-size: 16px;
	margin-left:-70px;
	margin-bottom:-20px;
}

#about_details {
	font-size: 12px;
}

#contact_details {
	padding-top: 20px;
	margin-bottom:40px;
}

#contact_details tr {
	font-size: 14pt;
}

#contact_details td {
	padding-left: 80px;
	padding-top: 20px;
}

#register {
	width: auto;
	height: 100px;
}

#registerSpan {
	float: right;
	padding-left: 10px;
	margin-top: -30px;
}

#login {
	width: auto;
	height: 100px;
	margin-right: 10px;
}

#loginSpan {
	float: right;
	
	margin-top: -30px;
}

#loginTxt {
	float: left;
	padding-left: 750px;
	margin-top: 0px;
	color: #6e6e6e;
	font-size: 14pt;
}

#registerTxt {
	float: left;
	padding-right:10px;
	padding-left: 70px;
	margin-top: 0px;
	color: #6e6e6e;
	font-size: 14pt;
	margin-top: 0px;
}
#pro_main{
	margin-left:0px;
}
.pro_individual {
	
	width: 400px;
	height: 80px;
	border: 0.5px solid grey;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px;
}

.pro_pic {
	height: 50px;
	width: 50px;
	float: left;
	padding: 2px;
	padding-right: 60px;
}

.pro_head {
	font-size: 12pt;
	color: #fc6400;
}

.pro_desc {
	
}

h1 {
	margin: 0;
	padding: 40px 0 0;
	font-size: 40px;
	font-weight: normal;
	line-height: 1.2em;
	text-transform: none;
	text-align: center;
}

h1 a,h1 a:hover {
	color: #464646;
	text-decoration: none;
}

h1 span {
	
}

h1 small {
	font-size: 20px;
	line-height: 1.2em;
	letter-spacing: normal;
	text-transform: uppercase;
	color: #fc6400;
}

.slider {
	padding: 28px 0 0;
	background: url(../images/slider_bg.gif) no-repeat left 348px;
}

#society_pics{
border-radius:10px;
	margin-left:370px;
	width:880px;
	height:300px;
		box-shadow: 10px 10px 5px #888;
	position:relative; z-index:80;
}
#head span{
	padding-right:10px;
	
}

#noticemid{
	margin-left:100px;
}
#notice{
	border-radius:10px;
	float:left;
	width:340px;
	height:310px;
	
	box-shadow: 10px 10px 5px #888;
	margin:10px;
}
#advertisement{
	border-radius:10px;
	float:left;
	width:400px;
	height:310px;
	box-shadow: 10px 10px 5px #888;
	margin:10px;
}
#polls{
	border-radius:10px;
	float:left;
	width:340px;
	height:310px;
	box-shadow: 10px 10px 5px #888;
	margin:10px;
}
#addsdiv{
	margin-left:100px;
	margin-right:130px;
}
.topicsheader{
	border-radius:5px;
	padding-top:2px;
	height:30px;
	background-color:#E6E6E6;
	color:#fc6400;
	font-weight:bold;
	font-size:14pt;
	text-align:center;
}
.topicsheader span{
	margin-left:-400px;
}
#adds{
	width:960px;
	height:320px;
	border:1px solid;
	box-shadow: 10px 10px 5px #888;
	margin:10px;
}
#events {
	width: 720px;
	height: auto;
}

.rss {
	padding: 18px 20px 0 0;
	float: right;
	width: auto;
}

.rss p {
	margin: 0;
	padding: 0;
	float: right;
	width: auto;
	color: #fff;
	font-size: 13px;
	line-height: 1.5em;
	font-weight: bold;
}

.rss a {
	color: #fff;
	text-decoration: none;
}

.rss a:hover {
	text-decoration: underline;
}

.rss img {
	margin: -3px 0 -3px 6px;
	border: none;
}

.menu_nav {
	margin: 0 auto;
	padding: 0;
	height: 54px;
}

.menu_nav ul {
	list-style: none;
	padding: 0;
	height: 54px;
	float: left;
}

.menu_nav ul li {
	margin: 0;
	padding: 0 1px 0 0;
	float: left;
}

.menu_nav ul li a {
	display: block;
	margin: 0;
	padding: 17px 0;
	width: 239px;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	color: #929292;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	background: #ededed;
}

.menu_nav ul li.active a,.menu_nav ul li a:hover {
	text-decoration: none;
	color: #fff;
	background: #fc6400;
}

.content {
	padding: 18px 0;
	
	
}

.content_resize {
	margin: 0 auto;
	padding: 0;
	width: 960px;
	
}

.content .mainbar {
	margin: 0;
	padding: 0;
	float: left;
	width: 670px;
	
}

.content .mainbar h2 {
	margin: 0 0 0 96px;
	padding-bottom: 0;
	font-size: 28px;
	line-height: 1.2em;
	color: #161616;
}

.content .mainbar div.img {
	padding: 8px 0;
	float: left;
}

.content .mainbar img {
	
}

.content .mainbar img.fl {
	margin-left: 100px;
	padding: 0;
	border: 3px solid #f1f1f1;
}

.content .mainbar .article {
	margin: 0 0 32px;
	padding: 0 20px;
}

.article span {
	float:left;
	margin-left: auto;
}

.post_content p {
	text-align: justify;
	text-justify: inter-word;
}

.content .mainbar .post_content {
	float: right;
}

.content .mainbar .post_content strong {
	color: #3f3f3f;
}

.content .sidebarLeft {
	margin-top:18px;
	margin-left: -100px;
	margin-right:10px;
	float: left;
	width: 260px;
	
}
.content .sidebarLeft .star {
	border-radius: 10px;
	height:45px;
	
	
}
.content .sidebarLeft .staruser {
	border-radius: 10px;
	height:30px;
	
	
}

.content .sidebarLeft .gadget {
	margin: 0 0 12px;
	padding: 12px 20px 10px;
	background: #ededed;
	border-radius: 10px;
	
}

.content .sidebarLeft h2 {
	margin: -12px -20px 10px;
	padding: 12px 20px 10px;
	color: #fff;
	background: #fc6400;
	
}

.content .sidebar {
	padding: 0;
	float: right;
	width: 260px;
}

.content .sidebar .gadget {
	margin: 0 0 12px;
	padding: 12px 20px 24px;
	background: #ededed;
	
}

.content .sidebar h2 {
	margin: -12px -20px 10px;
	padding: 12px 20px 10px;
	color: #fff;
	background: #fc6400;
}

ul.sb_menu,ul.ex_menu {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #959595;
}

ul.sb_menu li,ul.ex_menu li {
	margin: 0;
}

ul.sb_menu li {
	padding: 4px 0;
	width: 220px;
}

ul.ex_menu li {
	padding: 4px 0;
}

ul.sb_menu li a {
	color: #9a9a9a;
	text-decoration: none;
	margin-left: -16px;
	padding: 4px 8px 4px 16px;
}

ul.ex_menu li a {
	font-weight: bold;
	color: #161616;
	text-decoration: none;
}

ul.sb_menu li a:hover,ul.ex_menu li a:hover {
	color: #fc6400;
	font-weight: bold;
	text-decoration: none;
}

p.spec {
	padding: 0 0 16px;
}

p.infopost {
	margin-bottom: 8px;
	padding: 0 0 6px;
	color: #6e6e6e;
}

p.infopost a {
	padding: 0 2px;
	color: #6e6e6e;
	text-decoration: underline;
}

p.infopost a.com {
	display: block;
	float: left;
	margin: -36px 16px 0 0;
	padding: 16px 0;
	width: 80px;
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	text-align: center;
	background-color: #fc6400;
}

p.infopost a.com:hover {
	text-decoration: underline;
}

p.infopost a.com span {
	
}

.content .mainbar .post_content a.rm {
	display: block;
	float: right;
	margin: 0 0 16px;
	padding: 10px 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-decoration: none;
}

.content p.pages {
	margin: 0;
	padding: 24px 20px;
	font-size: 11px;
	color: #929292;
	text-align: left;
}

.content p.pages span,.content p.pages a {
	padding: 8px 12px;
	text-decoration: none;
}

.content p.pages span,.content p.pages a:hover {
	color: #fff;
	background: #fc6400;
}

.content p.pages a {
	color: #929292;
	border: 1px solid transparent;
}

.content p.pages small {
	font-size: 12px;
	float: right;
}

.content .mainbar .comment {
	margin: 0;
	padding: 16px 0 0 0;
}

.content .mainbar .comment img.userpic {
	border: 1px solid #dedede;
	margin: 10px 16px 0 0;
	padding: 0;
	float: left;
}

.subpage .content .mainbar h2 {
	margin: 0;
}

.fbg {
	padding: 0px;
	border-top: 1px solid #fff;
	background: #3b3b3b;
	margin-botoom:0px;
}

.fbg_resize {
	margin: 0 auto;
	width: 920px;
	padding: 16px 20px;
	color: #ccc;
}

.fbg h2 {
	color: #ccc;
	padding-bottom: 24px;
}

.fbg img.gal {
	margin: 0 8px 8px 0;
	padding: 0;
}

.fbg .col {
	margin: 0;
	float: left;
}

.fbg .c1 {
	padding: 0 16px 0 0;
	width: 280px;
}

.fbg .c2 {
	padding: 0 36px 0 16px;
	width: 280px;
}

.fbg .c3 {
	padding: 0 0 0 16px;
	width: 274px;
}

.fbg .fbg_ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.fbg .fbg_ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.fbg .fbg_ul li a {
	display: block;
	margin: 0;
	padding: 2px 0 2px 12px;
	color: #ccc;
	text-decoration: none;
	background: url(../images/li.gif) no-repeat left center;
}

.fbg .fbg_ul li a:hover {
	color: #fc6400;
	text-decoration: underline;
}

.fbg p.contact_info {
	line-height: 1.8em;
}

.fbg p.contact_info a {
	color: #fc6400;
	text-decoration: underline;
}

.fbg p.contact_info span {
	display: block;
	float: left;
	width: 74px;
	font-weight: bold;
	color: #ccc;
}

ol {
	list-style: none;
}

ol li {
	display: block;
	clear: both;
}

ol li label {
	display: block;
	margin: 0;
	padding: 16px 0 0 0;
}

ol li input.text {
	width: 480px;
	border: 1px solid #c0c0c0;
	margin: 0;
	padding: 5px 2px;
	height: 16px;
	background-color: #fff;
}

ol li textarea {
	width: 480px;
	border: 1px solid #c0c0c0;
	margin: 0;
	padding: 2px;
	background-color: #fff;
}

ol li .send {
	margin: 16px 0 0 0;
}

.searchform {
	padding: 0;
	float: right;
}

#formsearch {
	margin: 0;
	padding: 30px 0 0;
	width: auto;
	height: 40px;
}

#formsearch span {
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	background: url(../images/search_bg.gif) no-repeat left top;
}

#formsearch input.editbox_search {
	margin: 0;
	padding: 12px 6px;
	float: left;
	width: 194px;
	font-size: 12px;
	line-height: 16px;
	color: #a8acb2;
	background: none;
	outline: none;
	border: none;
}

#formsearch input.button_search {
	margin: 0;
	padding: 0;
	border: none;
	float: left;
}

.footer {
	background: #ededed;
}

.footer_resize {
	margin: 0 auto;
	padding: 0 20px;
	width: 920px;
	line-height: 1.5em;
	color: #6b6b6b;
}

.footer_resize p {
	margin: 24px 0;
	padding: 0;
	line-height: normal;
	white-space: nowrap;
	text-indent: inherit;
}

.footer_resize a {
	color: #fc6400;
	font-weight: normal;
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: underline;
	background-color: transparent;
}

.footer_resize a:hover {
	color: #fc6400;
	background-color: transparent;
	text-decoration: none;
}

.footer_resize .lf {
	float: left;
}

.footer_resize .rf {
	float: right;
}

a {
	outline: none;
}
